openapi: 3.0.0
info:
    title: Sample API
    description: Optional multiline or single-line description in [CommonMark](http://commonmark.org/help/) or HTML.
    version: 0.1.9
servers:
    - url: https://tatum.io/api/v3/gas-pump
paths:
    /{owner}/{index}:
        get:
            summary: Get a Gas Pump address.
            description: Returns a Gas Pump address.
            parameters:
                - name: index
                  in: path
                  description: Index of a address to get.
                  required: true
                  schema:
                      type: integer
                      format: int64
                - name: owner
                  in: path
                  description: Owner of Gas Pump address.
                  required: true
                  schema:
                      type: string
            responses:
                "200": # status code
                    description: Gas Pump address.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Address"
    /{owner}/{from}/{to}:
        get:
            summary: Get a Gas Pump address.
            description: Returns a Gas Pump addresses. Maximum number of returned addresses is limited to 10 000.
            parameters:
                - name: owner
                  in: path
                  description: Owner of Gas Pump address.
                  required: true
                  schema:
                      type: string
                - name: from
                  in: path
                  description: Start index of a Gas Pump addresses to get.
                  required: true
                  schema:
                      type: integer
                      format: int64
                      minimum: 0
                - name: to
                  in: path
                  description: End index of a Gas Pump addresses to get. To must be greater or equal to from parameter.
                  required: true
                  schema:
                      type: integer
                      format: int64
                      minimum: 0
            responses:
                "200": # status code
                    description: Gas Pump addresses.
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Address"
                '400':
                    description: Exceeded maximum number of Gas Pump addresses to generate. Please use lower number.                                    
    /activate/{owner}/{address}:
        post:
            summary: Activate Gas Pump address.
            description: Activates transfers from Gas Pump address which was created by Gas Pump Address API call
            parameters:
                - name: owner
                  in: path
                  description: Owner of Gas Pump address.
                  required: true
                  schema:
                      type: string
                - name: address
                  in: path
                  description: Address to activate trasnfers.
                  required: true
                  schema:
                      type: string
            responses:
                "201": # status code
                    description: OK
    /activate/{owner}/{from}/{to}:
        post:
            summary: Activate Gas Pump addresses.
            description: Activates transfers from Gas Pump addresses which was created by Gas Pump Address API call. Maximum number of activated addresses is different for every chain and it is dynamically calculated. Normal limit of how many addresses can be activated is described in following table TODO TABLE.  
            parameters:
                - name: owner
                  in: path
                  description: Owner of Gas Pump address.
                  required: true
                  schema:
                      type: string
                - name: from
                  in: path
                  description: Start index of a Gas Pump addresses to activate.
                  required: true
                  schema:
                      type: integer
                      format: int64
                      minimum: 0
                - name: to
                  in: path
                  description: End index of a Gas Pump addresses to activate. To must be greater or equal to from parameter.
                  required: true
                  schema:
                      type: integer
                      format: int64
                      minimum: 0
            responses:
                "201": # status code
                    description: OK
                '400':
                    description: Exceeded maximum number of Gas Pump addresses activations. Please lower number of addresses to activate.
    /activated/{owner}/{address}:
        get:
            summary: Check if address is activated.
            description: Check if address is activated to be able to transfer funds via Gas Pump.
            parameters:
                - name: owner
                  in: path
                  description: Owner of Gas Pump address.
                  required: true
                  schema:
                      type: string
                - name: address
                  in: path
                  description: Address to check if it is activated.
                  required: true
                  schema:
                      type: string
            responses:
                "200": # status code
                    description: Whether Gas Pump address is activated.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Activated"                    

components:
    schemas:
        Address:
            type: object
            properties:
                address:
                    type: string
                    description: Gas Pump address.
        Activated:
            type: object
            properties:
                activated:
                    type: boolean
                    description: True if address was already activated for gas pump transfer, otherwise false.
        ExceededMaxLimitActivation:
            type: object
            properties: 
                error: 
                    type: string
                    description: Exceeded maximum number of activation. 
